<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>Shopping Basket</title>
  </head>
  <body>
    {% if session.username %}
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
          {% set _ = get_flashed_messages() %}
        </ul>
      {% endif %}
    {% endwith %}
    <div class="header">
      <h2>SUPERMARKET <span style="font-size: 0.6em;">({{ session['username'] }})</span></h2>
    </div>
    <div class="nav">
      <nav>
        <ul>
          <li><a href="/">Mainpage</a></li>
          <li><a href="/user/{{ session.get('id') }}">Homepage</a></li>
          <li><a href="/new_item">New item</a></li>
          <li><a href="/find_item">Find item</a></li>
          <li><a href="/basket">Shopping Basket</a></li>
          <li><a href="/messages">Messages</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </nav>
    </div>
    <h2>Shopping Basket</h2>
    {% if purchases %}
    <form action="/update_basket" method="POST">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <ul class="basket-list">
          {% for purchase in purchases %}
          <li class="basket-item">
            <div class="basket-details">
              <strong>{{ purchase["title"] }}</strong>
              <div class="basket-info">
                <label for="quantity_{{ purchase['purchase_id'] }}">Quantity:</label>
                <input type="number"
                       name="quantity_{{ purchase['purchase_id'] }}"
                       value="{{ purchase['quantity'] }}"
                       min="1"
                       max="{{ quantities[purchase['item_id']] }}"
                       style="width: 50px;">
                <span aria-label="Price per item: {{ purchase['price_at_purchase'] }} euros. Total: {{ purchase['total_price'] }} euros.">
                  {{ purchase["quantity"] }} pcs - {{ purchase["price_at_purchase"] }} € each - Total: {{ purchase["total_price"] }} €
                </span>
              </div>
            </div>
            <button class="remove-button"
                    type="submit"
                    formaction="/remove_from_basket/{{ purchase['purchase_id'] }}"
                    formmethod="POST">
              Remove
            </button>
          </li>
          {% endfor %}
        </ul>
        <h3>Total price: {{ purchases | sum(attribute='total_price') }} €</h3>
        <button type="submit">Update quantities</button>
        <button type="submit" formaction="/checkout">Proceed to checkout</button>
      </form>
      {% else %}
      <p>Your shopping basket is empty.</p>
    {% endif %}
    {% endif %}
  </body>
</html>
