<!DOCTYPE html>
<html>
  <head>
    <title>edit_item</title>
  </head>
  <body>
    {% if session.username %}
    <p>You are logged in by username {{ session.username }}. Your personal ID-number is {{ session.get('id') }}.</p>
    {% endif %}
    <h2>SUPERMARKET</h2>
    <p>
      <a href="/">Mainpage</a>
      <a href="/user/{{ session.get('id') }}">Homepage</a>
      <a href="/new_item">New item</a>
      <a href="/basket">Shopping Basket</a>
      <a href="/find_item">Find item</a>
      <a href="/logout">Log out</a>
    </p>
    <h2>Edit item</h2>
    <form action="/update_item" method="post">
      <p>
        Title: <br />
        <input type="text" name="title" value="{{ item.title }}" maxlength="50" required/>
      </p>
      <p>
        Description:<br />
        <textarea rows="8" cols="60" name="description" maxlength="1000" required>{{ item.description }}</textarea>
      </p>
      <input type="hidden" name="item_id" value="{{ item.id }}"/>
      <p>
        Quantity: <br />
        <input type="number" name="quantity" value="{{ item.quantity }}" min="1" required/>
      </p>
      {% for class in all_classes %}
      <p>
        {{ class }}: <br />
        <select name="classes">
          {% for option in all_classes[class] %}
          <option value="{{ class }}:{{ option }}"
              {% if class in classes and classes[class] == option %}selected{% endif %}>
              {{ option }}
          </option>
          {% endfor %}
        </select>
      </p>
      {% endfor %}
      <input type="submit" value="Update" />
      <p>
      <a href="/item/{{ item.id }}">Back</a>
      </p>
    </form>
  </body>
</html>
