<!DOCTYPE html>
<html>
  <head>
    <title>shop</title>
  </head>

  <body>
    <h2>Web-shop</h2>

    {% if session.username %}
    <!-- if user is logged in -->
    <p>
      Olet kirjautunut nimellä {{ session.username }}, id-numerosi on {{
      session.get('id') }}
    </p>
    <p>
      <a href="/logout">Log out</a>
    </p>

    <p>
      <a href="/new_item">New item</a>
      <a href="/find_item">Find item</a>
    </p>

    <h2>Items</h2">

    <ul>
      {% for item in items %}
       <li><a href="/item/{{ item.id }}">{{ item.title }}</a></li>
      {% else %}
      <li>No items available</li>
      {% endfor %}
    </ul>

    {% else %}
    <!-- if user is not logged in -->
    <a href="/login">LOGIN</a>
    <a href="/register">REGISTER</a>
    {% endif %}
  </body>
</html>
