<!DOCTYPE html>
<html>
  <head>
    <title>shop</title>
  </head>

  <body>
    <h1>Web-shop</h1>
    {% if session.username %}
    <p>
      Olet kirjautunut nimellä {{ session.username }}, id-numerosi on {{
      session.get('id_user') }}
    </p>
    <a href="/logout">Log out</a>
    {% else %}
    <a href="/login">LOGIN</a>
    <a href="/register">REGISTER</a>
    {% endif %}

    <p>
      <a href="/new_item">New item</a>
    </p>

    <h1>Messages</h1>
    <ul>
      {% for item in items %}
      <li>
        <a href="/item/{{ item.id }}">{{ item.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
