<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>Login</title>
  </head>
  <body>
    <div class="header">
      <h2>SUPERMARKET</h2>
    </div>
    <h3>LOGIN</h3>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% if session.username %}
    <p>You are logged in as {{ session.username }}.</p>
    <p>
      <a href="/logout">Logout</a>
    </p>
    {% else %}
    <form action="/login" method="POST">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
      <p>
        <label for="username">Username:</label><br />
        <input type="text" id="username" name="username" />
      </p>
      <p>
        <label for="password">Password:</label><br />
        <input type="password" id="password" name="password" />
      </p>
      <input type="submit" value="Login" />
      <a href="/">Back</a>
    </form>
    {% endif %}
  </body>
</html>
