<!DOCTYPE html>
<html>
 <head>
  <title>Messages</title>
 </head>
 <body>
    <p>
        You are logged in by username {{ session.username }}. Your personal ID-number is {{
        session.get('id') }}.
      </p>
 <h2>Messages</h2>

 {% for conversation in conversations %}
 <div class="conversation">
   <h3>Messages with user {{ conversation.partner_name }}:</h3>
  
  <div class="messages">
   {% for msg in conversation.messages %}
    <div class="message {% if msg.sender_id == session.id %}sent{% else %}received{% endif %}">
     <div class="message-header">
      {% if msg.sender_id == session.id %}You{% else %}{{ conversation.partner_name }}{% endif %}
       ({{ msg.sent_at }}):
     </div>
    <div class="message-content">{{ msg.content }}</div>
 </div>
 {% endfor %}
 </div>
  <p></p>
  <form action="/send_message/{{ conversation.partner_id }}" method="POST">
    <textarea name="content" placeholder="Write a message to {{ conversation.partner_name }}" required></textarea><br>
    <button type="submit">Send</button>
    <button type="submit" formaction="/delete_conversation/{{ conversation.partner_id }}"
            onclick="return confirm('Are you sure?')">Delete conversation</button>
  </form>
 </div>
 {% endfor %}
 <p></p>
 <a href="/user/{{ session.get('id') }}">Back</a>
</body>