<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new_item</title>
  </head>
  <body>
    <p>You are logged in as {{ session.username }}.</p>
    <h2>SUPERMARKET</h2>
    <p>
      <a href="/">Mainpage</a>
      <a href="/user/{{ session.get('id') }}">Homepage</a>
      <a href="/new_item">New item</a>
      <a href="/find_item">Find item</a>
      <a href="/basket">Shopping Basket</a>
      <a href="/messages">Messages</a>
      <a href="/logout">Log out</a>
    </p>
    <h2>New item</h2>
    <form action="/create_item" method="POST" enctype="multipart/form-data">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <p>
        Title: <br />
        <input type="text" name="title" maxlength="50" required />
      </p>
      <p>
        Description: <br />
        <textarea rows="8" cols="60" name="description" required></textarea>
      </p>
      <p>
        Price: <br />
        <input type="text" name="price" size="8" pattern="^[1-9][0-9]{0,3}$" /> €
      </p>
      <p>
        Quantity: <br />
        <input type="number" name="quantity" min="1" required />
      </p>
      <p>
        Image: <br />
        <input type="file" name="image" accept="image/*" />
      </p>
      {% for class in classes %}
      <p>
        {{ class }}: <br />
        <select name="classes">
          <option value="">(choose)</option>
          {% for option in classes[class] %}
          <option value="{{ class }}:{{ option }}">{{ option }}</option>
          {% endfor %}
        </select>
      </p>
      {% endfor %}
      <input type="submit" value="Create" />
    </form>
  </body>
</html>