<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register here</title>
  </head>
  <body>
    <h2>SUPERMARKET</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form action="/create" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <p>
        Username: <br />
        <input type="text" name="username" />
      </p>
      <p>
        Password: <br />
        <input type="password" name="password1" />
      </p>
      <p>
        Password: <br />
        <input type="password" name="password2" />
      </p>
      <input type="submit" value="Create account" />
      <a href="/">Back</a>
    </form>
  </body>
</html>
