<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register here</title>
  </head>

  <body>
    <form action="/create" method="post">
      <p>
        Username: <br />
        <input type="text" name="username" />
      </p>
      <p>
        Password: <br />
        <input type="password" name="password1" />
      </p>
      <p>
        Password: <br />
        <input type="password" name="password2" />
      </p>
      <input type="submit" value="Create account" />
      <a href="/">Back</a>
    </form>
  </body>
</html>
