<!DOCTYPE html>
<html>
  <head>
    <title>{{ item.title }}</title>
  </head>
  <body>
    <p>
      You are logged in by username {{ session.username }}. Your personal ID-number is {{
      session.get('id') }}.
    </p>
    <h1>{{ item.title }}</h1>
    {% if session.get("id") == item.user_id %}

    <p>
      <a href="/edit_item/{{ item.id }}">Edit</a>
      <a href="/remove_item/{{ item.id }}">Delete</a>
    </p>

    {% endif %}

    <p>{{ item.description | e}}</p>
    <p>Price: {{ item.price | e}} €</p>
    <p>Seller: <a href="/user/{{ item.user_id }}">{{ item.username }}</a></p>
    
    {% if classes %}
    <p>
      Classes:
    <ul>
      {% for class in classes %}
      <li>{{ class.title }}: {{ class.value }}</li>
      {% endfor %}
    </ul>
    </p>
    {% endif %}
    <form action="/create_purchase" method="post">
      Pcs:
      <select name="quantity" required>
          <option value="" disabled selected>Select quantity</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
      </select>
      <input type="hidden" name="item_id" value="{{ item.id }}"/>
      <input type="hidden" name="price" value="{{ item.price }}"/>
      <input type="hidden" name="seller_id" value="{{ item.user_id }}"/>  <!-- Lisätty myyjän ID -->
      <input type="submit" value="Add to basket" />
    </form>
    <p>
      <a href="/">Back</a>
    </p>
  </body>
</html>
