<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Userpage {{ user.username }}</title>
  </head>
  <body>
    {% if session.username %}
      <p>You are logged in as {{ session.username }}.</p>
    {% endif %}
    <h2>SUPERMARKET</h2>
    {% if session.username %}
      <nav>
        <a href="/">Mainpage</a>
        <a href="/user/{{ session.get('id') }}">Homepage</a>
        <a href="/new_item">New item</a>
        <a href="/find_item">Find item</a>
        <a href="/basket">Shopping Basket</a>
        <a href="/messages">Messages</a>
        <a href="/logout">Logout</a>
      </nav>
    {% endif %}
    <h3>{{ user.username }}'s Profile</h3>
    {% if session.username and session.get('id') != user.id %}
      <section class="message-form">
        <h3>Send message to {{ user.username }}</h3>
        <form method="post" action="/send_message/{{ user.id }}">
          <textarea name="content" required placeholder="Write your message..."></textarea><br>
          <button type="submit">Send Message</button>
        </form>
      </section>
    {% endif %}
    {% if image %}
    <img src="{{ url_for('user_image', user_id=user.id) }}" alt="profile picture" width="200" height="200" />
        {% else %}
      <p>No profile picture</p>
    {% endif %}
    <form action="/add_image" method="post" enctype="multipart/form-data">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <p>
        Profile picture: <input type="file" name="image" accept=".jpg, .jpeg, .png" />
      </p>
      <input type="submit" value="Download" />
    </form>
    <h3>Products for sale ({{ items | count }})</h3>
    <ul class="product-list">
      {% for item in items %}
        <li class="product-item">
          <a href="/item/{{ item.id }}">{{ item.title }}</a>
          {% if item.image_filename %}
            <div class="product-image">
              <a href="{{ url_for('static', filename='uploads/' + item.image_filename) }}" target="_blank">
                <img src="{{ url_for('static', filename='uploads/' + item.image_filename) }}" 
                     alt="{{ item.title }}" 
                     width="100">
              </a>
            </div>
          {% endif %}
        </li>
      {% else %}
        <li>No products available</li>
      {% endfor %}
    </ul>
  </body>
</html>